#resumeFile{
  border: none;
  background-color: white;
  overflow: hidden;
  
}
.nav-bar{
  margin-top: 2%;
}
.nav-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.upload-main{
  width: 60%;
}
.upload-resume{
  border: 1px dashed #9398a1;
  border-radius: 8px;
  width: 80%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#resumeFile::file-selector-button {
  background-color: white;
  color: #14BC9A;
  border: none;
  font-size: 15px;
  font-weight: 500;
  margin-left: 3%;
  margin-bottom: 1%;
}
.choose-bttn{
  font-size: 15px;
  font-weight: 500;
}
input[type ="file"]{
  color: white;
}
.upload-main-div{
  display: flex;
  width: 100%;
}
.upload-button{
  width: 100%;
  height: 100%;
  border: 1px solid #14BC9A;
  background-color: #14BC9A;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  
}
.upload-buut-div{
  width: 15%;
  margin-left: 1%;
}
.tot-div{
  font-size: 1rem;
  font-weight: 500;
  color: #9398a1;
}
.tot-txt{
  margin-bottom: 0%;
}
.center-middle{
  margin-left: 1vw;
  margin-top: 2vh;
  padding: 5px;
}
.para-div{
  margin-left: -1.3%;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.para-txt{
  margin-top: 0%;
  margin-left: 0%;
  font-size: 0.8rem;
}

.input-value{
  border: 1px solid #ced4da;
  color: #9398A1;
  border-radius: 5px;
  height: 3.5vh;
  width: 13vw;
  margin-top: 0.5%;
  margin-bottom: 1%;
}
.count-value{
  margin-bottom: 0%;
}
.count-value1{
  margin-top: -1%;
}
.font-size{
  font-size: 1.3rem;
  color: #9398A1;
  margin-bottom: 2%;
  margin-top: 5%;
  font-weight: lighter;
}
.flies-count{
  font-size: 20px;
  color:#9398a1;
  font-weight: 700;
}

.ttcash-button{
  width:100%;
  align-items: center;
  
}

.tt-accept-btn,.tt-decline-btn {
  padding:12px 16px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  border:0;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  width:22%;
}

.tt-accept-btn{
  color:red;
  background-color: #efcfcf;
}

.tt-decline-btn{
  color:white;
  background-color: #14BC9A;
  margin-right: 5%;
}
